@media only screen and (max-width: 600px) {
    .header-menu {
        width: 100%;
    }
    .hamburger {
        display: block;
    }
    .sections_cataloge{
        display: fixed !important;
        position: absolute;
        top: -100%;
        background-color: lawngreen;

    }
}